{% extends "index.html" %}

{% block menu %}
    <div id="rectangle" style="width:auto; height: 100px; background-color: darkseagreen">
        <h1 align="center">Наши Контакты</h1>
    </div>
{% endblock %}

{% block mainpart %}
    <a href="https://www.twitch.tv/bratishkinoff" class="contact">Стример Вова</a> <br>
    <a href="https://www.youtube.com/channel/UCAf-RYRpQgxpj8voC29ck7w" class="contact">Стример Лёша</a> <br>
    <a href="https://www.youtube.com/channel/UC_8PAD0Qmi6_gpe77S1Atgg" class="contact">Блогер Максимка</a> <br>
{% endblock %}

</body>
</html>